@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*
{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

.container{

    position: relative;
    display: flex;
    justify-content: wrap;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    padding: 40px;
    

}

.container .card{

    position: relative;
    width: 320px;
    height: 400px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    margin: 15px;
}

.container .card:nth-child(1)::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(126, 247, 5);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:nth-child(2)::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(12, 102, 219);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:nth-child(3)::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(209, 27, 27);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:nth-child(4)::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(248, 143, 6);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:nth-child(5)::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(248, 5, 195);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:nth-child(6)::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(11, 238, 227);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover::before{

    clip-path: circle(300px at 80% -20%);

}

.container .card:nth-child(1)::after{

    content: 'Apple';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 10em;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container .card:nth-child(2)::after{

    content: 'Oneplus';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 10em;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.container .card:nth-child(3)::after{

    content: 'Vivo';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 10em;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.container .card:nth-child(4)::after{

    content: 'Samsung';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 10em;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.container .card:nth-child(5)::after{

    content: 'Google';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 10em;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.container .card:nth-child(6)::after{

    content: 'Apple';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 10em;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx{

    top: 0%;
        transform: translateY(0%);
}

.container .card .imgBx img{

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;
    max-height: 240px;

}

.container .card .contentBx
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx{

    height: 210px;
}

.container .card .contentBx h2{

    position: relative;
    /* font-weight: 600; */
    letter-spacing: 1px;
    color: #ffffff;
}

.container .card .contentBx .quantity,
.container .card .contentBx .color{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;

}

.container .card:hover .contentBx .quantity{

    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;

}

.container .card:hover .contentBx .color{

    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;

}

.container .card .contentBx .quantity h3,
.container .card .contentBx .color h3{

    color: #ffffff;
    font-weight: 300 ;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .quantity span{

    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111111;
    background: #ffffff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card:nth-child(1) .contentBx .quantity span:hover{

    background: rgb(126, 247, 5);
}

.container .card:nth-child(2) .contentBx .quantity span:hover{

    background: rgb(12, 102, 219);
}
.container .card:nth-child(3) .contentBx .quantity span:hover{

    background: rgb(209, 27, 27);
}

.container .card:nth-child(4) .contentBx .quantity span:hover{

    background: rgb(248, 143, 6);
}
.container .card:nth-child(5) .contentBx .quantity span:hover{

    background: rgb(248, 5, 195);
}

.container .card:nth-child(6) .contentBx .quantity span:hover{

    background: rgb(11, 238, 227);
}

.container .card .contentBx .color span{

    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){

    background: rgb(126, 247, 5);
}
.container .card .contentBx .color span:nth-child(3){

    background: rgb(22, 146, 218);
}
.container .card .contentBx .color span:nth-child(4){

    background: rgb(224, 12, 214);
}

.container .card:nth-child(1) .contentBx a{

    display: inline-block;
    padding: 10px 20px;
    background: rgb(126, 247, 5);
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform : translateY(50px);
    transition: 0.5s;

}

.container .card:nth-child(2) .contentBx a{

    display: inline-block;
    padding: 10px 20px;
    background: rgb(12, 102, 219);
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform : translateY(50px);
    transition: 0.5s;

}
.container .card:nth-child(3) .contentBx a{

    display: inline-block;
    padding: 10px 20px;
    background:  rgb(209, 27, 27);
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform : translateY(50px);
    transition: 0.5s;

}

.container .card:nth-child(4) .contentBx a{

    display: inline-block;
    padding: 10px 20px;
    background: rgb(248, 143, 6);
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform : translateY(50px);
    transition: 0.5s;

}
.container .card:nth-child(5) .contentBx a{

    display: inline-block;
    padding: 10px 20px;
    background: rgb(248, 5, 195);
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform : translateY(50px);
    transition: 0.5s;

}

.container .card:nth-child(6) .contentBx a{

    display: inline-block;
    padding: 10px 20px;
    background: rgb(11, 238, 227);
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform : translateY(50px);
    transition: 0.5s;

}

.container .card:hover .contentBx a{

    opacity: 1;
    transform : translateY(0px);
    transition-delay: 0.75s;
}
