@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: #131313;
}

body #body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all 0.5s;
}

.container{

    position: relative;
    display: flex;
    justify-content: wrap;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    padding: 40px;
    transform-style: preserve-3d;
    margin-left: 50px;
    margin-bottom: 20px;
    top: 100px;

}

.container .box{

    position: relative;
    width: 270px;
    height: 350px;  
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-bottom: 70px;
}

/* .container .box:nth-child(1)::before {

    content: 'MUSIC';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 4.5em;
    font-weight: 900;
    color: #ffffff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
} */

/* .container .box:nth-child(2)::before {

    content: 'Entertain';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 4.5em;
    font-weight: 900;
    color: #ffffff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
} */

.container .box:hover::before, .container .box:nth-child(1):hover::after{

    opacity: 0.1;
}
.container .box:hover::before, .container .box:nth-child(2):hover::after{

    opacity: 0.1;
}
.container .box:hover::before, .container .box:nth-child(3):hover::after{

    opacity: 0.1;
}
.container .box:hover::before, .container .box:nth-child(4):hover::after{

    opacity: 0.1;
}
.container .box:hover::before, .container .box:nth-child(5):hover::after{

    opacity: 0.1;
}
.container .box:hover::before, .container .box:nth-child(6):hover::after{

    opacity: 0.1;
}

.container .box:nth-child(1)::after {

    content: 'HEADPHONES';
    position: absolute;
    bottom: 20px;
    font-size: 2.6em;
    font-weight: 900;
    color: #ffffff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box:nth-child(2)::after {

    content: 'TELEVISION';
    position: absolute;
    bottom: 20px;
    font-size: 3.2em;
    font-weight: 900;
    color: #ffffff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box:nth-child(3)::after {

    content: 'MOBILE PHONES';
    position: absolute;
    bottom: 20px;
    font-size: 2.2em;
    font-weight: 900;
    color: #ffffff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box:nth-child(4)::after {

    content: 'LAPTOPS';
    position: absolute;
    bottom: 20px;
    font-size: 4em;
    font-weight: 900;
    color: #ffffff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box:nth-child(5)::after {

    content: 'Cameras';
    position: absolute;
    bottom: 20px;
    font-size: 3.5em;
    font-weight: 900;
    color: #ffffff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box:nth-child(6)::after {

    content: 'SMART WATCHES';
    position: absolute;
    bottom: 20px;
    font-size: 2em;
    font-weight: 100;
    color: #ffffff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box .name{

    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;

}

.container .box:hover .name{

    top: 40px;
    opacity: 1;
}

.container .box .innerbox{

    position: absolute;
    bottom: 0;
    right: 135px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,50px);
    transition: 0.5s;
    opacity: 1;
    z-index: 12;

}

.container .box:hover .innerbox{

    bottom: 40px;
    opacity: 1;
}

.container .box .innerbox .buy{

    position: relative;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #ffffff;
    background: #333333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .innerbox .buy{

    bottom: 30px;
    opacity: 1;
}

.container .box .circle{

    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,50px);
    z-index: 10;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #ffffff;
    opacity: 1;

}

.container .box .product{

    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 210px;
    max-height: 210px;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,50px) rotate(15deg);
}


.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy{

    background: #3ce425;
}

.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy{

    background: #2aa4d4;
}

.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy{

    background: #badd1e;
}

.container .box:nth-child(4) .circle,
.container .box:nth-child(4) .buy{

    background: #693c3c;
}
.container .box:nth-child(5) .circle,
.container .box:nth-child(5) .buy{

    background: #6d0f8a;
}
.container .box:nth-child(6) .circle,
.container .box:nth-child(6) .buy{

    background: #f80404;
}


/* sidebar css */

.sidebar{

    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #222222;
    transition: all 0.5s ease;
    z-index: 1;
    top: 8%;
}

.sidebar header{
    background: rgb(55, 56, 54);
    text-align: center;
}

.sidebar header a{

    font-size: 20px;
    line-height: 55px;
    color: blanchedalmond;
    transition: 0.5s;
    
}

.sidebar ul a{

    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 15px;
    color: #ffffff;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    transition: 0.5s;
}

.sidebar ul li:hover a{

    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

.sidebar header i{
    margin-right: 16px;
}

.sidebar header:hover a{
    
    padding-right: 50px;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
}

label #btn{

    left: 20px;
    top: 5px;
    font-size: 25px;
    color: white;
    z-index: 1;
    position: fixed;
    padding: 5px;
}

label #btn:hover{

    border-radius: 5px;
    box-shadow: 0px 0px 5px cyan,
                0 0 5px cyan;
    transition: 0.5s;
}

label #cancel{

    z-index: 1221;
    left: -235px;
    top: 55px;
    font-size: 15px;
    color: white;
    position: fixed;
    transition: all 0.5s ease;
}
#check:checked ~ .sidebar{

    left: 0;
}

#check:checked ~ label #cancel{

    left: 250px;
    opacity: 1;
    /* pointer-events: none; */
}
#check:checked ~ label #cancel{

    left: 235px;
}

#check:checked ~ #body{
    margin-left: 235px;
}
/* top navigation css */

nav{

    background: rgb(32, 34, 31);
    line-height: 1px;
    position: fixed;
    width: 1350px;
    z-index: 1;
    margin-bottom: 10px;
}

nav::after{

    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    padding-left: 100px;
}

nav .logo img{

    max-height: 100px;
    max-height: 30px;
    margin-right: 15px;
    align-items: center;
}

/* search button css */
.search-box{

    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 30px;
    border-radius: 40px;
    padding: 5px;
    padding-bottom: 20px;
    margin-top: 0px;
}

.search-box:hover > .search-txt{

    width: 400px;
}


.search-btn{

    color: cyan;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.search-txt{

    border : none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: #ffffff;
    font-size: 15px;
    transition: 0.7s;
    line-height: 0px;
    margin-left: 10px;
    width: 0px;

}

nav ul{

    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
    top: 0px;
}

nav i{

    margin-left: 5px;
}

nav ul li{

    /* float: left; */
    display: inline-block;
    margin: 0px 5px;
    background: rgb(32, 34, 31);
    top: 0px;
}

nav ul li a{

    color: #ffffff;
    line-height: 50px;
    font-size: 14px;
    padding: 10px 15px;
    
}

nav ul li a:hover{

    color: #35e012;
    border-radius: 5px;
    box-shadow: 0 0 5px #59dd0c,
                0 0 5px #25db0d;
    transition: 0.5s;
}

nav ul ul li a:hover{

    color:#4ccf18;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
}

nav ul li:hover > ul{

    top: 50px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    
}

nav ul ul ul li{

    position: relative;
    top: -70px;
    left: 150px;
}

/* footer css */

footer{

    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    height: 280px;
    background: black;
    color: white;
    margin-top: 100px;
}

.main-content{

    display: flex;
}

.main-content .box{

    flex-basis: 50%;
    padding: 10px 20px;
}

.box .content{

    margin: 20px 0 0 0;
}

.left .content .social{

    margin: 20px 0 0 0;
}

.left .content .social a{

    padding: 10px 5px;
}
.left .content .social a span{
    font-size: 1.5em;
    color: #222;
}

.left .content p{

    text-align: justify;
}

.center .content .fas{

    font-size: 1em;
    background: #1a1a1a;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.4s;
    cursor: pointer;

}

.center .content .fas:hover{

    background: brown;
}

.center .content .text{

    padding-left: 10px;
}

.center .content .phone{

    margin: 10px 0px;
}

.right form .msg{

    margin-top: 10px;
}

.right form input{

    width: 100%;
    font-size: 1rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form .btn{

    margin-top: 10px;
}

.right form .btn button{

    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: brown;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}

.right form .btn button:hover{

    background: #fff;
}

/* top menu css {AUXILLARY}*/
.menu{
    height: 100px;
}

/* ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 50px;
}

ul li{

    list-style: none;
    margin-top: 50px;
    margin-left: 100px;
    
}

ul li a{
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: #ffffff;
    line-height: 8vh;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
}

ul li a::before{

    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-align: center;
    font-size: 4em;
    color: #2196f3;
    opacity: 0;
    line-height: 25vh;
    transition: 0.5s;

}

ul li:hover a::before{
    opacity: 1;
} */
